<div style="text-align:center">
<mat-card-content>

<br>
<mat-slide-toggle
          color="primary"
          (change)="onChange($event)"
          [checked]="true"
          [disabled]="disabled">
       <h2> {{sliderTitle}} </h2>
</mat-slide-toggle>
<br>

      <div *ngIf="showToBuy; then toBuyList else toSellList"></div>

            <ng-template #toBuyList>
            <app-item-list  (deleteItemList)="remove($event)" (updateItemList)="update($event)" [itemList]="ToBuyList"></app-item-list>
            </ng-template>

            <ng-template #toSellList>
            <app-item-list  (deleteItemList)="remove($event)" (updateItemList)="update($event)" [itemList]="ToSellList"></app-item-list>
            </ng-template>

</mat-card-content>
