<mat-card>
    <h2>Login page (u: test, p: test)</h2>
  <form #loginForm="ngForm" (ngSubmit)="passUserData(loginForm)">
    <div class="container">
      <label for="username"><b>Username</b></label>
      <br>
        <input matInput ngModel type="text" placeholder="Enter Username" name="username" required>
      <br>
      <br>
      <label for="password"><b>Password</b></label>
      <br>
        <input matInput ngModel type="password" placeholder="Enter Password" name="password" required>
      <br>
      <br>
      <button mat-raised-button color="primary">Login</button>
    </div>
  </form>
</mat-card>
