b.item-action {
  width: 10%;
}

b.item-amount {
  width: 10%;
}

b.item-currency {
  width: 10%;
}

div.item-action-value {
  width: 20%;
}

div.item-amount-value {
  width: 20%;
}

div.item-currency-value {
  width: 20%;
}
