  <mat-list-item role="listitem">
    <b class="item-action">Action:</b>
    <div class="item-action-value">{{item.action}}</div>

    <b class="item-amount">Amount:</b>
    <div class="item-amount-value">{{item.amount}}</div>

    <b class="item-currency">Currency:</b>
    <div class="item-currency-value">{{item.currency}}</div>

    <button mat-icon-button (click)="delete(item)">
     <mat-icon>clear</mat-icon>
    </button>
  </mat-list-item>
